# Dependency directories
node_modules/
client/node_modules/
public/node_modules/

# Environment files
.env
.env.local
.env.development
.env.production
.env.staging

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Temporary files
tmp/
temp/

# Compiled files
dist/
build/
client/build/
public/build/

# Dependency lock files
package-lock.json
yarn.lock
client/package-lock.json
public/package-lock.json

!client/build/static.json